<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css">
  <title>Document</title>
</head>

<body>
  <div class="main">
    <div class="first">
      <img src="./wcelogo.png" alt='mypic' class='logo' />
    </div>
    <div>
      <h2 class="head">Walchand College of Engineering</h2>
      <p>(Government-Aided Autonomous Institute)</p>
      <p>Vishrambag, SANGLI-416415 (M.S) India</p>
      <p>Website: www.walchandsangli.ac.in</p>
    </div>
    <div class="second">
      <img src="./75logo.jpeg" alt='mypic' class='logo' />
    </div>
  </div>
  <div class="height">
    <hr class="hr">
    </hr>
    <div class="middle">
      <div class="page">
        <img src="./telephone.png" alt='mypic' class='tele' />
      </div>
      <div>
        <p> Email : info@walchandsangli.ac.in</p>
      </div>
    </div>
    <hr>
    </hr>
  </div>
  <div class="exam">
    <u>Examination Section</u>
  </div>
  <div class="name">
    <p>Name: <b>
        <%= name %>
      </b></p>
    <p>Examination Seat Number: <b><%= prn %></b></p>
  </div>
  <table border="1" class="table">
    <caption class="head"><b>B.Tech.Mechanical Engineering</b></caption>
    <tr>
      <th rowSpan="2"> Course code </th>
      <th class="title" rowSpan="2"> Course Title</th>
      <th colSpan="3">Hours Per Week </th>
      <th rowSpan="2">Credits</th>
      <th rowSpan="2">Grade</th>
    </tr>
    <tr>
      <th> Lecture </th>
      <th> Tutorial</th>
      <th> Practical</th>
    </tr>
    <tr>
      <th colSpan="8"><%= Year %>:(2017-2018) <%= Sem %></th>
    </tr>
    <tr>
      <td>3PH101</td>
      <td>Engineering Physics</td>
      <td>3</td>
      <td>--</td>
      <td>--</td>
      <td>3</td>
      <td>BB</td>
    </tr>
    <tr>
      <td>3MA101</td>
      <td>Engineering Mathematics I</td>
      <td>3</td>
      <td>1</td>
      <td>--</td>
      <td>4</td>
      <td>BC</td>
    </tr>
    <tr>
      <td>3CV101</td>
      <td>Basic Civil Engineering</td>
      <td>3</td>
      <td>--</td>
      <td>--</td>
      <td>3</td>
      <td>CC</td>
    </tr>
    <tr>
      <td>3ME102</td>
      <td>Basic Mechanical Engineering</td>
      <td>3</td>
      <td>--</td>
      <td>--</td>
      <td>3</td>
      <td>BB</td>
    </tr>
    <tr>
      <td>3EN101</td>
      <td>Basic Electronics Engineering</td>
      <td>3</td>
      <td>--</td>
      <td>--</td>
      <td>3</td>
      <td>BB</td>
    </tr>
    <tr>
      <td>3CS101</td>
      <td>Computer Programming</td>
      <td>2</td>
      <td>--</td>
      <td>--</td>
      <td>2</td>
      <td>CC</td>
    </tr>
    <tr>
      <td>3BS103</td>
      <td>Material Science</td>
      <td>2</td>
      <td>--</td>
      <td>--</td>
      <td>2</td>
      <td>AB</td>
    </tr>
    <tr>
      <td>3PH151</td>
      <td>Engineering Physics Lab</td>
      <td>--</td>
      <td>--</td>
      <td>2</td>
      <td>1</td>
      <td>AB</td>
    </tr>
    <tr>
      <td>3CV151</td>
      <td>Civil Engineering Lab</td>
      <td>--</td>
      <td>--</td>
      <td>2</td>
      <td>1</td>
      <td>AB</td>
    </tr>
    <tr>
      <td>3CS151</td>
      <td>Computer Programming Lab</td>
      <td>--</td>
      <td>--</td>
      <td>2</td>
      <td>1</td>
      <td>AB</td>
    </tr>
    <tr>
      <td>3ME152</td>
      <td>Mechanical Workshop/Lab</td>
      <td>--</td>
      <td>--</td>
      <td>2</td>
      <td>1</td>
      <td>AB</td>
    </tr>
    <tr>
      <td>3EN151</td>
      <td>Electronics Engineering LAb</td>
      <td>--</td>
      <td>--</td>
      <td>2</td>
      <td>1</td>
      <td>AA</td>
    </tr>
    <tr>
      <th colSpan="8">First Year:(2017-2018) SEM-II</th>
    </tr>
    <tr>
      <td>3CH101</td>
      <td>Engineering Chemistry</td>
      <td>3</td>
      <td>--</td>
      <td>--</td>
      <td>3</td>
      <td>CC</td>
    </tr>
    <tr>
      <td>3MA102</td>
      <td>Engineering Mathematics II</td>
      <td>3</td>
      <td>1</td>
      <td>--</td>
      <td>4</td>
      <td>BB</td>
    </tr>
    <tr>
      <td>3AM101</td>
      <td>Engineering Mechanics</td>
      <td>3</td>
      <td>--</td>
      <td>--</td>
      <td>3</td>
      <td>BC</td>
    </tr>
    <tr>
      <td>3ME101</td>
      <td>Engineering Graphics</td>
      <td>3</td>
      <td>--</td>
      <td>--</td>
      <td>3</td>
      <td>AB</td>
    </tr>
    <tr>
      <td>3EL101</td>
      <td>Basic Electrical Engineering</td>
      <td>3</td>
      <td>--</td>
      <td>--</td>
      <td>3</td>
      <td>BC</td>
    </tr>
    <tr>
      <td>3HS102</td>
      <td>Foreign Language</td>
      <td>2</td>
      <td>1</td>
      <td>--</td>
      <td>3</td>
      <td>BC</td>
    </tr>
    <tr>
      <td>3CH151</td>
      <td>Engineering Chemistry Lab</td>
      <td>--</td>
      <td>--</td>
      <td>2</td>
      <td>1</td>
      <td>AB</td>
    </tr>
    <tr>
      <td>3AM151</td>
      <td>Engineering Mechanics Lab</td>
      <td>--</td>
      <td>--</td>
      <td>2</td>
      <td>1</td>
      <td>AB</td>
    </tr>
    <tr>
      <td>3ME151</td>
      <td>Engineering Graphics Lab</td>
      <td>--</td>
      <td>--</td>
      <td>2</td>
      <td>1</td>
      <td>AA</td>
    </tr>
    <tr>
      <td>3EL151</td>
      <td>Basic Electrical Engineering LAb</td>
      <td>--</td>
      <td>--</td>
      <td>2</td>
      <td>1</td>
      <td>AB</td>
    </tr>
  </table>
  <p class="para">$:Grade obtained in makeup examination.&nbsp; #:Grade obtaibed after grade improvement &nbsp;
    **:Contact Hours</p>
  <table border="1" class="table2">
    <tr>
      <th colSpan="7">Performance</th>
    </tr>
    <tr>
      <th colSpan="2">First Year Semester-I Courses</th>
      <th colSpan="2">First Year Semester-II Courses</th>
      <th colSpan="2">Cumulative</th>
    </tr>
    <tr>
      <td>Credits</td>
      <td>SPI</td>
      <td>Credits</td>
      <td>SPI</td>
      <td>Credits Earned</td>
      <td>CPI</td>
    </tr>
    <tr>
      <td>25</td>
      <td>7.80</td>
      <td>23</td>
      <td>8.09</td>
      <td>48</td>
      <td>7.94</td>
    </tr>
  </table>
  <div class="name">
    <div class="pass">
      <p><b>Result:PASS</b></p>
      <p><b>Date:16th August 2018</b></p>
    </div>
    <div class="control">
      <p> <br></br><b>Controller of Examination</b></p>
    </div>
  </div>
</body>

</html>