.loginform {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #edf4fc;
}

.loginform > h2 {
  font-size: 1.85rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  font-weight: 500;
  text-align: center;
}

.form {
  border: 3px solid #002053;
  padding: 4rem;
  padding-top: 4rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border-radius: 2rem;
  background-color: white;
  border-radius: 50px;
  background: #ffffff;
}

.form > h2 {
  margin: 0px;
  font-weight: 500;
  padding: 0;
}

.innerDiv {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  width: 20rem;
}

.innerDiv > input {
  border-radius: 0.5rem;
  height: 2rem;
  padding-left: 0.1rem;
  border: 0.1rem solid #002053;
  width: 100%;
  font-size: 1.2rem;
  padding: 0.3rem;
  background: #ffffff;
}

.innerDiv > input:hover {
  background-color: #d7e7f8;
}
.innerDiv > input:focus {
  outline: none;
}
/* incomplete task */
.innerDiv > input:active {
  background-color: #d7e7f8;
  border: 0.1rem solid rgb(126, 167, 255);
}

.submitbtn {
  font-size: 1.2rem;
  text-align: center;
  border: none;
  padding: 0.4rem;
  border-radius: 0.6rem;
  margin-left: 0.4rem;
  margin-top: 0.7rem;
  width: 21rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
  font-weight: bold;
  background-color: #0000ff;
  transition: all 0.2s;
}

.submitbtn:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px #b5b4b4;
}

.heading {
  font-weight: 400;
}
.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 0.9rem;
}
.head > h1 {
  font-weight: 400;
  text-align: center;
  line-height: 2.7rem;
}
.logo {
  height: 9rem;
  width: auto;
  margin-top: 1rem;
}

.continueasguest {
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
  margin-left: 0.4rem;
  width: 20rem;
  border: none;
  border-radius: 0.6rem;
  padding: 0.4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
  background-color: #000a19;
  transition: all 0.2s;
}

.continueasguest:hover {
  cursor: pointer;
  color: whitesmoke;
  box-shadow: 2px 2px 2px 2px #b5b4b4;
}

@media only screen and (max-width: 680px) {
  .head > h1 {
    font-size: 2rem;
  }
  .loginform > h2 {
    font-size: 1.5rem;
  }
  .form > h2 {
    font-size: 1.4rem;
  }
  .innerDiv > label,
  .innerDiv > input {
    font-size: 1.1rem;
  }
  .continueasguest {
    font-size: 1.08rem;
  }
}

@media only screen and (max-width: 520px) {
  .form {
    width: 50vw;
    gap: 1rem;
  }
  .head > h1 {
    font-size: 1.5rem;
  }
  .loginform > h2 {
    font-size: 1.35rem;
  }
  .form > h2 {
    font-size: 1.35rem;
    margin-bottom: 0.6rem;
  }
  .innerDiv {
    width: 16rem;
    margin-left: 1rem;
    font-size: 1rem;
    gap: 0.5rem;
  }
  .innerDiv > input {
    width: 90%;
    height: 1.7rem;
    font-size: 1rem;
  }
  .submitbtn {
    width: 15rem;
    font-size: 1.05rem;
    margin-top: 0.7rem;
  }
  .continueasguest {
    width: 14.5rem;
    font-size: 1.05rem;
  }
}
